.card {
  margin-top: 15vh;

  .p-card {
    height: 60vh;
    overflow: hidden;
    border-top: 4px solid #a87ca0;
    box-shadow: 0 0 4px #bdbdbd;

    @media only screen and (max-width: 768px) {
      height: 80vh;
    }

    @media only screen and (max-width: 600px) {
      height: 65vh;
    }

    .p-card__header {
      padding-bottom: 10px;
      border-bottom: 1px dotted #999999;
    }

    .p-card__content {
      padding-top: 10px;
      height: 80%;

      .p-card__metadata {
        font-style: italic;
      }
    }

    .p-card__footer {
      padding-top: 10px;
      border-top: 1px dotted #999999;
    }
  }
}
